parameters:


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days


services:
	router: App\RouterFactory::createRouter
	- App\Model\ArticleManager


database:
	dsn: 'pgsql:host=127.0.0.1; dbname=quickstart'
	user: quickstart
	password: dE5k7BNl4V


security:
    users:
        admin: Ker6tZpMu9v  # user 'admin', password 'Ker6tZpMu9v'
