body {
    font: 16px/1.5 Georgia, Verdana, Arial;
    margin: 0 auto;
    width: 600px;
    background-color: whitesmoke;
}

.date {
    color: gray;
    margin-top: 5px;
    margin-bottom: 0px;
}

a {
    color: darkcyan;
    font-style: italic;
    margin-top: 10px;
    margin-bottom: 0;
}

a:hover {
    color: darkblue;
}

h1 {
    margin-top: 15px;
    margin-bottom: 15px;
}

h2 {
    color: black;
    font-size: 1.5em;
    margin-top: 30px;
    margin-bottom: 10px;
}

h3 {
    color: black;
    font-style: italic;
    margin-bottom: 5px;
}

div.flash {
    color: orangered;
    border: 1px solid orangered;
    border-radius: 15px;
    margin-bottom: 30px;
    margin-top: 30px;
    padding: 5px;

}

a[href^="#error:"] {
    background: orangered;
    color: white;
}

form th, form td {
    vertical-align: top;
    font-weight: normal;
}

form th {
    text-align: right;
}

form .required label {
    font-weight: bold;
}

form .error {
    color: orangered;
    font-weight: bold;
}

div.post {
    border-bottom: 2px solid gainsboro;
    color: black;
    padding-top: 5px;
    padding-bottom: 30px;
    margin-top: 5px;
    margin-bottom: 15px;
}

p{
    font-style: italic;
    font-size: smaller;
}
